.articles-panel{
    padding-top: 3rem;
}

.header{
    margin-bottom: 1rem;
    align-items: center;
}

.header .search-form{
    position: relative;
}

.search-button{
    position: absolute;
    right: 0;
    top: 50%;
    translate: -110% -50%;
}

.actions{
    display: flex;
    gap: 0.7rem;
    width: 100%;
    justify-content: center;
}