body {
  overscroll-behavior-y: none;
}

.App {
  text-align: center;
  background-color: rgb(243, 243, 243);
  min-height: 100vh;
  
}

.category-link{
  color: #000;
  text-decoration: none; /* Remove underline */
}

